// Paths
$dir-fonts:		'/font';
$dir-images:	'/img';

// Colours
$color-red:		#d95720;
$color-orange:	#eeba85;
$color-yellow:	#fce376;
$color-white:	#fff;
$color-grey:	#a0978f;
$color-grey-muted:	#d3d3d3;

// Fonts
$font-headings:	'Montserrat', 'Gotham', Arial, sans-serif;
$font-body:		$font-headings;
