@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?#iefix",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		eot: "embedded-opentype",
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		@if index($exts, "eot") != null {
			// IE version
			src: url(quote($path + ".eot"));
		}
		src: $src;
	}
}

// Font definitions
@include font-face('Montserrat', '/font/montserrat/montserrat-semibold', 700);
@include font-face('Montserrat', '/font/montserrat/montserrat-regular', 400);
