$padding-top:			0.3rem;
$padding-side:			1.2rem;
$breakpoint-columns:	650px;
$rule-height:			0.3rem;
$map-height-mobile:		10rem;

// Nav-skip link
.accessibility-aid {
	@extend %visuallyhidden--focusable;
}

#nav-skip {
	&:active,
	&:focus {
		display:	block;
		position:	absolute;
		top:		20px;
		left:		10px;
		padding:	0.2rem 0.6rem;
		border:		solid 1px #000;
		z-index:	10;
		background:	#fff;
		text-decoration:	none;
		-webkit-border-radius:	25px;
		border-radius:			25px;
	}
}

$logo-width:	170px;
$logo-height:	117px;
.site-name {
	display:	block;
	@include image-replaced('/img/logo.svg', $logo-width, $logo-height);

	> h1 {
		// Blend
		margin:		0;
		font-size:	1em;
	}
}

%padded {
	padding:	$padding-top $padding-side;
}
%padded-side {
	padding-left:	$padding-side;
	padding-right:	$padding-side;
}

header[role="banner"],
main,
footer[role="contentinfo"] {
	position:		relative;
	z-index:		2;
	box-sizing:		border-box;

	@media (min-width: $breakpoint-columns) {
		width:			50%;
		margin-left:	50%;
	}
}

// Header
header[role="banner"] {
	height:			15rem;
	overflow:		hidden;
	background:		#eeba85 url('/img/banner.jpg') no-repeat 50% 100%;
	background-size:	cover;

	.site-name {
		position:	absolute;
		top:		55%;
		left:		13.5%;
		margin:		-($logo-height/2) 0 0 -($logo-width/2);
		z-index:	2;
	}

	$logo-effects-padding:	15px;
	$height:			5rem;
	$height--stripe:	$height / 3;
	$height--stripe--inner:	84px;
	$basic-transform:	rotate(-5deg) skew(-9deg);
	$transform-shift:	5%;
	&:before,
	&:after {
		content:	"";
		display:	block;
		position:	absolute;
		height:		$height--stripe;
		border-top:		solid $height--stripe $color-red;
		border-bottom:	solid $height--stripe $color-yellow;
		background:		$color-orange;

		filter:			drop-shadow(6px 3px 0px rgba(0,0,0,0.5));
	}
		&:before {
			bottom:			50%;
			left:			10%;
			margin-left:	$logo-width + $logo-effects-padding;
			margin-bottom:	-($height--stripe--inner / 2) + 18px;
			width:			80%;
			transform:	$basic-transform translateX($transform-shift);
		}
		&:after {
			top:		50%;
			left:		0;
			width:		10%;
			margin-top:	-($height--stripe--inner / 2) + 18px;
			transform:	$basic-transform translateX(-$transform-shift);
		}
}

	.calendar-feed {
		$size:			2.65em;
		$margin:		0.8em;
		$padding:		0.6em;
		$textHeight:	1.2em;
		$textWidth:		15em;

		display:		block;
		position:		absolute;
		box-sizing:		border-box;
		bottom:			$margin;
		right:			$margin;
		width:			0;
		height:			$size;
		padding-top:	(($size - $textHeight) / 2);
		padding-right:	$size;
		overflow:		hidden;
		text-align:		right;
		white-space:	nowrap;
		color:			transparent;
//		opacity:		0.8;

		$transitionFade:	0.3s;
		transition:	color $transitionFade,
					opacity $transitionFade,
					width 0 $transitionFade,
					padding-right 0 $transitionFade;

		&:hover,
		&:focus {
			width:			$textWidth;
			padding-right:	$size + $padding;
			opacity:			1;
			color:				#fff;
			text-decoration:	none;

			transition:	color $transitionFade,
						opacity $transitionFade,
						width 0,
						padding-right 0;

			&:before {
				background-color:	#000;
			}
		}

		&:before {
			content:		"";
			display:		block;
			position:		absolute;
			box-sizing:		border-box;
			top:			0;
			right:			0;
			width:			$size;
			height:			$size;
			margin-left:	0.6em;
			border-radius:	50%;
			transition:		background-color $transitionFade;

			@include svg-background('#{$dir-images}/movie/subscribe-icon.svg', 50px, 50px);
		}
	}

// Content
$movie-rule-height:		2px;
main {
	@extend %clearfix;	// Collapse borders
	min-height:	1.2em;
	background:	$color-white;
}

	// Filters
	.search-filters {
		@extend %padded-side;
		margin-top:		$rule-height * 2;	// Make room for strokes
		margin-bottom:	$movie-rule-height;	// Compensate for shifted headings
		padding-top:	0.6rem;
		padding-bottom:	0.6rem;
		border-top:		solid $rule-height $color-red;
		background:		lighten($color-yellow, 15%);
		color:			$color-red;
		font-size:		0.8em;
		text-transform:	uppercase;

		// Two extra strokes
		&:before {
			content:	"";
			display:	block;
			position:	absolute;
			left:		0;
			bottom:		100%;
			width:		100%;
			height:		$rule-height;
			background:	$color-orange;
			border-top:	solid $rule-height $color-yellow;
			margin-bottom:	-$rule-height * 2;
		}

		&__items {
			@extend %inline-list--spaceless;
		}
	}
		.search-filter {
			@extend %inline-list-item;

			position:		relative;
			cursor:			default;
			vertical-align:	middle;

			// Custom input styles
			input[type="checkbox"],
			select {
				background:			none;
				color:				$color-red;
				vertical-align:		middle;
				-webkit-appearance:	none;
				-moz-appearance:	none;
				text-transform:		uppercase;

				option {
					text-transform:	none;
				}
			}

			// Free checkbox
			input[type="checkbox"] {
				width:	1.2em;
				height:	1.2em;
				margin:	-0.2em 0.1em 0 0;
				border:	solid 2px $color-red;
				border-radius:		2em;

				+ label:before {
					$size:	0.6em;
					content:	"";
					display:	block;
					position:	absolute;
					background:	$color-red;
					border-radius:	50%;
					pointer-events:	none;
					opacity:		0;
					transform:		scale(0.5);
					transition:		all 0.2s;

					@include absolutely-centred($size, $left: 0.6em);
				}

				&:checked + label:before {
					opacity:	1;
					transform:	none;
				}

				// Disable on Firefox
				@supports (-moz-appearance: checkbox) {
					-moz-appearance: checkbox;

					+ label:before {
						content:	none;
						display:	none;
					}
				}
			}

			select {
				padding:	0.1em 0.6em 0.15em 0.6em;
				border:		none;
			}

			&--select {
				margin-top:	0.1em;

				label {
					position:	absolute;
					top:		0.2em;
					right:		0.2em;
					bottom:		0.2em;
					width:		1em;
					overflow:	hidden;
					text-indent:	105%;
					white-space:	nowrap;
					pointer-events:	none;
					@include svg-background('/img/filters/select-control.svg', 6px, 9px)
				}
				select {
					padding-right:	1.4em;
				}
			}

			// Size toggle
			&--display {
				@mixin filter-display-item($value, $on, $off){
					input[value="#{$value}"] + label {			background-position:	$off; }
					input[value="#{$value}"]:checked + label {	background-position:	$on; }
				}

				letter-spacing:	0.3em;

				&:after {
					content:	"";
					display:	block;
					position:	absolute;
					top:		-2px;
					left:		50%;
					bottom:		-2px;
					width:		1px;
					background:	$color-red;
				}

				input {
					@extend %visuallyhidden;

					&:focus + label {
						outline:	solid 1px $color-red;
					}
				}
				label {
					@include image-replaced('#{$dir-images}/filters/size-toggle.svg', 18px, 18px, $background-width: 38px, $background-height: 38px, $inline: true);
					display:		inline-block;
					vertical-align:	top;
					cursor:			pointer;
				}

				@include filter-display-item('full', 0 0, 0 100%);
				@include filter-display-item('compact', 100% 0, 100% 100%);
			}
		}

		.search-filters {
			text-align:	justify;

			&__items {
				@extend %inline-list--justified;

				margin-bottom:	-1.2em;
			}
		}

		@media (min-width: 750px) {
			.search-filters__items {
				text-align:	left;
			}
				.search-filter {
					margin-right:	1.2em;

					&--display {
						float:			right;
						margin-right:	0;
						margin-top:		0.2em;
					}
				}
		}

		@media (min-width: $breakpoint-columns) {
			.search-filter--borough {
				$margin:	0.9em;
				position:	fixed;
				top:		0;
				right:		50%;
				margin:		$margin $margin 0 0;

				select {
					border:		solid 2px $color-red;
					background:		$color-white;
					color:			$color-red;
					opacity:		0.5;
					border-radius:	5em;
					transition:		opacity 0.3s;

					&:hover,
					&:focus,
					&:active {
						opacity:	1;
					}
				}
			}
		}

	// Movies
	$movie-margin-inner:	0.6rem;
	$movie-padding-top:		1.2rem;
	$movie-padding-side:	1.2rem;
	.movies-month {
		// Cover bottom element rule
		margin:			-$movie-rule-height 0 0 0;
		padding:		0.3em $movie-padding-side 0.2em $movie-padding-side;
		border-bottom:	solid 0.2em $color-red;
		color:			$color-red;
		background:		$color-white;
		text-transform:	uppercase;

		@supports (position: -webkit-sticky)
			   or (position: sticky) {
			position:	-webkit-sticky;
			position:	sticky;
			top:		0;
			left:		0;
			right:		0;
			z-index:	5;
		}

		&.__filtered-out {
			&,
			& + .movies {
				display:	none;
			}
		}
	}

	.movies {
		@extend %plain-list;

		max-width:		35rem;
		margin-left:	auto;
		margin-right:	auto;
	}
		.movie {
			position:	relative;
			padding:	$movie-padding-top $movie-padding-side*1.5;
			letter-spacing:	-0.285em;

			&.__active {
				border-left:	solid ($movie-padding-side/3) $color-red;
				padding-left:	$movie-padding-side/3 * 2;
			}
			&.__filtered-out {
				display:	none;
			}

			margin-bottom:	$movie-rule-height;

			&:before {
				content:	"";
				position:	absolute;
				top:		100%;
				left:		$movie-padding-side;
				right:		$movie-padding-side;
				height:		$movie-rule-height;
				background:	$color-orange;
			}

			&__poster,
			&__content {
				display:		inline-block;
				vertical-align:	middle;
				letter-spacing:	0;
			}

			$poster-width:	100px;
			$poster-margin:	20px;
			$poster-align:	0.0em;
			&__poster {
				margin:		0 $poster-margin 0 0;
				padding:	0;
				width:		$poster-width;

				> img {
					display:	block;
					width:		100%;
					height:		auto;
				}

				.movie--no-poster & {
					position:	relative;
					height:		120px;
					background:		#eee;
					background:		linear-gradient(to top left, #eee, #f9f9f9);
					white-space:	nowrap;
					overflow:		hidden;
					text-indent:	110%;
				}
			}

			&__content {
				margin-top:	-$poster-align;	// Handle minor misalignment
				width:		unquote('calc(100% - #{$poster-width + $poster-margin})');
			}

			&__title {
				margin:	0 0 $movie-margin-inner 0;
				color:	$color-grey;

				&__name {
					@extend h2;
					margin-right:	0.15em;
				}

				&__rating {
					display:	inline-block;
					padding:	0.2em 0.3em;
					line-height:	1;
					font-size:		0.7em;
					background:		lighten($color-grey, 15%);
					color:			$color-white;
					vertical-align:	text-top;
					margin-top:		0.15em;
					margin-left:	0.3em;
					border-radius:	0.1em;
				}

				.separator {
					@extend %visuallyhidden;
				}
			}

			&__synopsis {
				margin:		0;
				font-size:	0.9rem;
			}

			&__details {
				@extend %plain-list;
				@extend %inline-list--spaceless;

				margin-top:	$movie-margin-inner + 0.3rem;
				font-size:	0.9em;
			}
				&__detail {
					@extend %inline-list-item;
					width:			50%;
					vertical-align:	middle;

					&,
					a {
						color:	$color-red;
					}

					strong {
						@include image-replaced('/img/movie/icons.svg', 22px, 22px, $background-height: 46px, $inline: true);
						display:	inline-block;
						position:	relative;
						top:		-0.1em;
						vertical-align:	middle;
					}

					$detail-ratio:	6/13;
					&--date {
						width:	100% * $detail-ratio;

						strong {
							margin-right:	0.2em;
							background-position:	50% 0;
						}

						.forecast {
							display:	inline-block;
							margin:		0 0 0 0.2em;
							padding:	0.25em 0.3em 0.1em 0.3em;
							background:		$color-red;
							color:			$color-white;
							line-height:	1;
							border-radius:	5em;
							transition:		opacity 0.3s;

							&.__transitioning {
								opacity:	0;
							}

							&__link {
								display:	block;
								color:				$color-white;
								text-decoration:	none;
							}

							&__conditions {
								@extend %ir;

								display:	inline-block;
								position:	relative;
								top:		-0.05em;
								width:		20px;
								height:		22px;
								margin:		-4px -1px;
								vertical-align:		middle;
								background:			transparent url('/img/weather/3200-na.svg') no-repeat 50% 50%;
								background-size:	20px auto;
							}
							$imgs:	"0-tornado.svg",
									"1-day-sleet-storm.svg",
									"2-hurricane.svg",
									"3-lightning.svg",
									"4-day-lightning.svg",
									"5-rain-mix.svg",
									"6-sleet.svg",
									"7-sleet.svg",
									"8-sleet.svg",
									"9-rain.svg",
									"10-sleet.svg",
									"11-showers.svg",
									"12-showers.svg",
									"13-snow-wind.svg",
									"14-sleet.svg",
									"15-snow-wind.svg",
									"16-snow.svg",
									"17-hail.svg",
									"18-sleet.svg",
									"19-dust.svg",
									"20-fog.svg",
									"21-day-haze.svg",
									"22-smoke.svg",
									"23-cloudy-gusts.svg",
									"24-windy.svg",
									"25-snowflake-cold.svg",
									"26-cloud.svg",
									"27-night-alt-cloudy.svg",
									"28-day-cloudy.svg",
									"29-night-alt-cloudy.svg",
									"30-day-cloudy.svg",
									"31-night-clear.svg",
									"32-day-sunny.svg",
									"3200-na.svg",
									"33-night-alt-partly-cloudy.svg",
									"34-day-sunny-overcast.svg",
									"35-hail.svg",
									"36-hot.svg",
									"37-day-sleet-storm.svg",
									"38-storm-showers.svg",
									"39-storm-showers.svg",
									"40-showers.svg",
									"41-snowflake-cold.svg",
									"42-sleet.svg",
									"43-snowflake-cold.svg",
									"44-night-cloudy-high.svg",
									"45-day-storm-showers.svg",
									"46-sleet.svg",
									"47-day-storm-showers.svg";

							@each $img in $imgs {
								$test: str-slice($img, 0, str-index($img, '-')-1);
								&[data-conditions="#{$test}"] .forecast__conditions {
									background-image:	url('/img/weather/#{$img}');
								}
							}
						}
					}
					&--venue {
						width:	100% * (1 - $detail-ratio);
						text-align:	right;

						strong {
							background-position:	50% 100%;
						}
					}
				}

			@media only screen and (max-width: 405px) {
				&__poster,
				&__content {
					display:	block;
				}
					&__poster {
						margin:	0 auto 0.6em auto;

						.movie--no-poster & {
							display:	none;
						}
					}
					&__content {
						width:	100%;
					}
			}

			@media only screen and (max-width: 475px),
				   only screen and (min-width: $breakpoint-columns) and (max-width: $breakpoint-columns + 250px) {
				&__detail {
					display:	block;
					width:		100%;
					text-align:	left;

					+ .movie__detail {
						margin-top:	0.3em;
					}
				}
			}
		}

		.movies--compact {
			margin-top:		0.9em;
			margin-bottom:	0.9em;

			.movie {
				padding-top:	0.4rem;
				padding-bottom:	0.4rem;

				&:before {
					content:	none;
				}

				&__poster,
				&__synopsis {
					display:	none;
				}
				&__content,
				&--no-poster .movie__content {
					width:			100%;
					margin-top:		0;
					margin-left:	0;
				}
				&__title {
					margin-bottom:	0.3rem;

					&__name {
						font-size:	1em;
					}
				}
				&__details {
					margin-top:	0;
				}
					&__detail {
						vertical-align:	top;
						&,
						> a {
							color:	lighten($color-red, 20%);
						}

						strong {
							opacity:	0.7;
						}

						&--date .forecast {
							background:	lighten($color-red, 20%);
						}
					}
			}
		}

	.search-feedback,
	.search-signup {
		padding:	$movie-padding-top $movie-padding-side*1.5;
		text-align:	center;

		h2 {
			margin:	0;
		}
		h2 + p {
			margin-top:	0.3em;
		}
		p {
			font-size:	0.9em;
		}
	}
		.search-signup {
			.input {
				position:	relative;

				.js & {
					label {
						position:	absolute;
						top:		0;
						left:		0;
						max-width:	100%;
						text-indent:	0.4em;
						color:			$color-grey;
						pointer-events:	none;
					}

					&--active {
						label {
							display:	none;
						}
					}
				}
				input {
					padding:	0.35em 0.4em;
				}
			}

			// Honeypot
			.hp {
				position:	absolute;
				left:		-5000px;
			}
		}

#map {
	position:	relative;
	width:		100%;
	height:		$map-height-mobile;
	background:	#a5d8e1 !important;

	@media (min-width: $breakpoint-columns) {
		position:	fixed !important;
		top:		0;
		left:		0;
		height:		100%;
		width:		50%;
		margin:		0;
		padding:	0;
		z-index:	1;

		// Rearrange map zoom control
		.gm-bundled-control-on-bottom {
//			bottom:	51px !important;
		}
		.gm-bundled-control-on-bottom + div {
//			left:	38px !important;
		}
	}
}
	.map-loading {
		$width:		100px;
		$height:	75px;
		$labelHeight:	16px;

		display:		none;
		position:		absolute;
		top:			50%;
		left:			50%;
		width:			$width;
		height:			$labelHeight;
		margin:			(-($height+$labelHeight) / 2) 0 0 (-$width / 2);
		padding-top:	$height;
		font-size:		0.8em;
		color:			#fff;
		text-transform:	uppercase;
		text-align:		center;

		.js & {
			display:	block;
		}

		// Map graphic panes
		$speed:	1.5s;

		&:before,
		&:after,
		&__label:before {
			content:	"";
			display:	block;
			position:	absolute;
			top:		0;
			bottom:		$labelHeight + 5px;
			width:		$width/3;
			box-sizing:	border-box;
			border:		solid 4px #fff;
			border-left-width:	3px;
			border-right-width:	3px;
			transform:	skew(0deg, 10deg);

			animation:	map-loader $speed infinite;
		}
			&:before {
				left:	0%;
				border-left-width:	4px;
			}
			&:after {
				left:	33%;
				transform:	skew(0, -10deg);
				animation-delay:	($speed / 3) * 1;
			}
			&__label:before {
				left:	66%;
				border-right-width:	4px;
				animation-delay:	($speed / 3) * 2;
			}
	}

	@keyframes map-loader {
		15% {
			background:	transparent;
		}
		50% {
			background:	white;
		}
		85% {
			background:	transparent;
		}
	}


	.venues {
		@extend %plain-list;
	}

	.venue-details {
		$margin:	1.2rem;
		$max-width:	500px;

		display:	block;
		position:	relative;
		box-sizing:	border-box;
		width:		100%;
		padding:	1.2em;

		.js & {
			display:	none;

			&:target {
				display:	block;
			}

			&.__active {
				display:	block;
			}

			position:		fixed;
			top:			50%;
			margin-top:		$margin * 2;
			max-height:		40%;
			max-height:		calc(50% - unquote("#{$margin * 2}") - unquote("#{$margin}"));
			overflow-y:		auto;
			left:			$margin;
			right:			50%;
			margin-right:	$margin;
			z-index:		10;
			background:		#fff;
			transition:		top 0.3s cubic-bezier(0.700, -0.140, 0.230, 1.185),
							bottom 0.3s cubic-bezier(0.700, -0.140, 0.230, 1.185),
							opacity 0.3s cubic-bezier(0.920, 0.235, 0.980, 0.335);

			&-dismiss {
				@extend %ir;
				display:	none;
			}

			@media only screen and (min-width: ($max-width*2) + 75) {
				left:			25%;
				right:			auto;
				width:			$max-width;
				margin-left:	-$max-width/2;
			}

			@media only screen and (max-width: $breakpoint-columns) {
				margin:		0;
				top:		auto;
				left:		0;
				right:		0;
				bottom:		0;
				padding:	$margin;
				width:		auto;
				max-height:	90%;
				max-height:	calc(100% - unquote("#{$margin * 2}"));

				&.__transitioning {
					top:	auto;
					bottom:	-100%;
				}

				&-dismiss {
					display:	block;
					position:	fixed;
					top:		0;
					left:		0;
					right:		0;
					bottom:		0;
					border:		none;
					z-index:	9;
					cursor:				default;
					background:			#000;
					background:			rgba(0,0,0,0.8);
					border-radius:		0;
					-webkit-appearance:	none;
					transition:			opacity 0.3s 0.1s;

					&.__transitioning {
						opacity:	0;
					}
				}
			}
		}

		&.__transitioning {
			top:		100%;
			opacity:	0;
		}

		&__image {
			position:		relative;
			width:			100%;
			padding:		$margin;
			margin-top:		-$margin;
			margin-left:	-$margin;
			box-sizing:		content-box;

			> img {
				display:		block;
				width:			100%;
				width:			unquote("calc(100% + #{$margin} + #{$margin})");
				margin-top:		unquote("calc(#{-$margin})");
				margin-left:	unquote("calc(#{-$margin})");
			}
		}
		&__name {
			margin:		0 0 0.2em 0;
		}
		&__location,
		&__description {
			margin:		0;
		}
			&__location {
				margin-top:		-0.2em;
				margin-bottom:	0.4em;
				font-size:		0.9em;
				color:			#777;
			}
		&__actions {
			@extend %inline-list;

			margin-top:	0.9em;
			font-size:	0.9em;
		}
			&__action {
				@extend %inline-list-item;
				margin-left:	0.8em;

				&:first-child {
					margin-left:	0;
				}

				a {
					color:	$color-red;
				}
				&--social {
					$social-icon-size:		18px;
					$social-icon-buffer:	1px;
					$social-icon-sprite-width:	(($social-icon-size + $social-icon-buffer) * 4) - $social-icon-buffer;

					& + & {
						margin-left:	0.4em;
					}
					a {
						@extend %ir;

						@include svg-background('/img/venue/social-icons.svg', $social-icon-sprite-width, $social-icon-size, $position: null);
						width:	$social-icon-size;
						height:	$social-icon-size;
					}

					@function social-icon-offset($index){
						@return -($social-icon-size + $social-icon-buffer) * $index
					}
					&--facebook a {		background-position: social-icon-offset(0) 0; }
					&--facebook a {		background-position: social-icon-offset(1) 0; }
					&--twitter a {		background-position: social-icon-offset(2) 0; }
					&--instagram a {	background-position: social-icon-offset(3) 0; }
				}
			}
	}

// Footer
footer[role="contentinfo"] {
	@extend %padded;
	margin-top:	-$movie-rule-height;
	border-top:	solid $rule-height $color-red;
	background: $color-yellow;
	text-align:	center;

	&,
	a {
		color:		$color-red;
	}

	a {
		text-decoration:	underline;
	}

	p {
		display:	inline-block;
		margin:		0;
		font-size:	0.75em;

		~ p:before {
			content:	" • ";
			margin:		0 0.2em;
		}
	}
}

.map-infowindow {
	$tooltip-background:	rgba(0,0,0,0.75);

	margin-top:	15px;
	background:	$tooltip-background;

	&:after {
		$triangle-width:	10px;
		content:	"";
		display:	block;
		position:	absolute;
		top:		100%;
		left:		50%;
		border-top:		solid $triangle-width $tooltip-background;
		border-right:	solid $triangle-width transparent;
		border-left:	solid $triangle-width transparent;
		margin-left:	-$triangle-width;
	}

	// Hide non-essential elements
	> div {
		display:	none !important;
	}
	.gm-style-iw {
		display:	block !important;
	}
}
	.gm-style-iw {
		text-align:		center;
		font-size:		14px;
		font-family:	$font-body;
		font-weight:	normal;
		color:			#fff;
	}

// Hide until custom class added
.gm-style div[style*="cursor: default"] {
	visibility:	hidden;
	&.map-infowindow {
		visibility:	visible;
	}
}